.Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle {
    width: 1440px;
    height: 88px;
    background: #F8F9FA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.impressum {
    width: 194px;
    text-align: center;
}

.impressum_span {
    color: rgba(0, 0, 0, 0.85);
    font-size: 23px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.30px;
    word-wrap: break-word;
}
