.Footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--footer-height, 88px);
    background: rgba(248, 249, 250, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 60;
}

.FooterRight {
    position: absolute;
    right: 40px;
    display: flex;
    align-items: center;
}
